body {
  display: flex;
  background-color: #4d8bc8;
}
body .container {
  border-radius: 12px;
  display: grid;
  background-color: #ebf5ff;
}
body .container__output {
  display: flex;
  margin: 10%;
  background-color: #cce6ff;
  border-radius: 12px;
  justify-content: flex-end;
}
body .container__output p {
  font-family: Arial, Helvetica, sans-serif;
  color: #153b5e;
}
body .container .buttons__main {
  padding: 1vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "to to to to to" "nu nu nu eq eq" "nu nu nu eq eq" "nu nu nu eq eq" "nu nu nu en en";
  transition-duration: 0.4s;
}
body .container .buttons__main--top {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-area: to;
  padding: 2%;
}
body .container .buttons__main--top #del {
  background-color: #a3d0fa;
  border-radius: 6px;
  border: #4d8bc8;
  margin: 3%;
  color: #508ac7;
}
body .container .buttons__main--top #clear {
  background-color: #a3d0fa;
  border-radius: 6px;
  border: #4d8bc8;
  margin: 3%;
  color: #508ac7;
}
body .container .buttons__main--numbers {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-area: nu;
  grid-template-areas: "se e n" "f fi s" "o t th" "d z p";
  color: cornflowerblue;
  justify-content: start;
}
body .container .buttons__main--numbers #kb0 {
  grid-area: z;
  padding: 4%;
  background-color: #cce6ff;
  border-radius: 6px;
  border: #4d8bc8;
  margin: 3%;
  color: #153b5e;
}
body .container .buttons__main--numbers #kb1 {
  grid-area: o;
  padding: 4%;
  background-color: #cce6ff;
  border-radius: 6px;
  border: #4d8bc8;
  margin: 3%;
  color: #153b5e;
}
body .container .buttons__main--numbers #kb2 {
  grid-area: t;
  padding: 4%;
  background-color: #cce6ff;
  border-radius: 6px;
  border: #4d8bc8;
  margin: 3%;
  color: #153b5e;
}
body .container .buttons__main--numbers #kb3 {
  grid-area: th;
  padding: 4%;
  background-color: #cce6ff;
  border-radius: 6px;
  border: #4d8bc8;
  margin: 3%;
  color: #153b5e;
}
body .container .buttons__main--numbers #kb4 {
  grid-area: f;
  padding: 4%;
  background-color: #cce6ff;
  border-radius: 6px;
  border: #4d8bc8;
  margin: 3%;
  color: #153b5e;
}
body .container .buttons__main--numbers #kb5 {
  grid-area: fi;
  padding: 4%;
  background-color: #cce6ff;
  border-radius: 6px;
  border: #4d8bc8;
  margin: 3%;
  color: #153b5e;
}
body .container .buttons__main--numbers #kb6 {
  grid-area: s;
  padding: 4%;
  background-color: #cce6ff;
  border-radius: 6px;
  border: #4d8bc8;
  margin: 3%;
  color: #153b5e;
}
body .container .buttons__main--numbers #kb7 {
  grid-area: se;
  padding: 4%;
  background-color: #cce6ff;
  border-radius: 6px;
  border: #4d8bc8;
  margin: 3%;
  color: #153b5e;
}
body .container .buttons__main--numbers #kb8 {
  grid-area: e;
  padding: 4%;
  background-color: #cce6ff;
  border-radius: 6px;
  border: #4d8bc8;
  margin: 3%;
  color: #153b5e;
}
body .container .buttons__main--numbers #kb9 {
  grid-area: n;
  padding: 4%;
  background-color: #cce6ff;
  border-radius: 6px;
  border: #4d8bc8;
  margin: 3%;
  color: #153b5e;
}
body .container .buttons__main--numbers #kbplusminus {
  grid-area: p;
  padding: 4%;
  background-color: #a3d0fa;
  border-radius: 6px;
  border: #4d8bc8;
  margin: 3%;
  color: #508ac7;
}
body .container .buttons__main--numbers #kbdot {
  grid-area: d;
  padding: 4%;
  background-color: #a3d0fa;
  border-radius: 6px;
  border: #4d8bc8;
  margin: 3%;
  color: #508ac7;
}
body .container .buttons__main--equations {
  display: grid;
  grid-area: eq;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  padding: 4%;
}
body .container .buttons__main--equations .rightside {
  background-color: #a3d0fa;
  border-radius: 6px;
  border: #4d8bc8;
  margin: 3%;
  color: #508ac7;
}
body .container .buttons__main--enters {
  display: grid;
  grid-area: en;
}
body .container .buttons__main--enters .bottomright {
  background-color: #4d8bc8;
  border-radius: 6px;
  border: #4d8bc8;
  margin: 3%;
  color: #ebf5ff;
}
